<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.example.XmlAutoWiringUsingbyConstructor.Student" id="std" autowire="constructor">
        <constructor-arg value="Krishna" index="1"/>
        <constructor-arg value="1" index="2"/>
        <!-- <constructor-arg value=""/> -->

    </bean>

    <bean class="com.example.XmlAutoWiringUsingbyConstructor.Address" id="addr1" autowire-candidate="true">
        <constructor-arg value="Banglore" index="0"/>
        <constructor-arg value="300" index="1"/>
        <constructor-arg value="11011" index="2"/>
    </bean>

    <bean class="com.example.XmlAutoWiringUsingbyConstructor.Address" id="addr2" autowire-candidate="false">
        <constructor-arg value="China Chowk" index="0"/>
        <constructor-arg value="69" index="1"/>
        <constructor-arg value="2002002" index="2"/>
    </bean>



</beans>